on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A jerb to say hello
    steps:     
      - run: echo yo bro
      - uses: actions/checkout@v2
      - run: ls -lha
      - uses: legleux/gha@main
      - id: foo
        uses: legleux/gha@main
        with:
          who-to-greet: 'Bloobert'
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash