on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A jerb to say hello
    steps:     
      - uses: legleux/gha@main
      - uses: legleux/gha/clio@main

      - id: foo
        uses: legleux/gha@main
        with:
          who-to-greet: 'Bloobert'
      
      - run: echo random-number ${{ steps.foo.outputs.random-number }}
        shell: bash